
@{
    ViewData["Title"] = "Index";
}

<div>
<h1>Welcome to the CSV to VCF online converter</h1>

<p>Upload your csv file here</p><br>
<input id="CsvFile" type="file" /><br>
<p><a id="ConvertToVcf" href="#" class="btn">Convert</a></p>
</div>