@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to the CSV to VCF online converter</h1>
</div>
<div>
    <h1>Welcome to the CSV to VCF online converter</h1>
    <p>Upload your csv file here</p><br>
    <form method="post">
          <input id="CsvFile" type="file" /><br>
        
        <p>
            <button type="submit">Convert</button>
            @*<a id="ConvertToVcf" href="#" class="btn">Convert</a>*@
        </p>
    </form>
</div>
