@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/pretty.css" rel="stylesheet">
<div>
    <h1>Welcome to the CSV to VCF online converter</h1>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="file-drop-area">
            <span class="fake-btn">Choose files</span>
            <span class="file-msg">or drag and drop files here</span>
            <input class="file-input" name="file" type="file" multiple>
            <br>
        </div>

        <br>
        <p>
            <button class="convert-button" type="submit">Convert</button>
            @*<a id="ConvertToVcf" href="#" class="btn">Convert</a>*@
        </p>
    </form>
    <a class="convert-button" asp-action="Download"> Download </a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/pretty.js"></script>
